# Variáveis de ambiente e senhas
.env
*.env

# Certificados SSL e Chaves Privadas
nginx/certs/
*.crt
*.key
*.pem

# Uploads locais, logs e dumps de banco (mas mantém o schema de inicialização)
/src/uploads/
*.log
*.sql
!db-init/*.sql